@font-face {
    font-family: 'TT Chocolates Bold';
    src: url('../fonts/TTCHOCOLATES-BOLD.TTF') format("truetype");
}

@font-face {
    font-family: 'TT Chocolates Light';
    src: url('../fonts/TTCHOCOLATES-LIGHT.TTF') format("truetype");
}

@font-face {
    font-family: 'TT Chocolates Regular';
    src: url('../fonts/TTCHOCOLATES-REGULAR.TTF') format("truetype");
}

body {
    background-color: #000;
    font-family: 'TT Chocolates Regular', 'Roboto', sans-serif;
}

.whatsapp {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #111;
    z-index: 10;
    font-size: 14pt;
    font-weight: bold;
    padding-right: 30px;
    text-shadow: 0 1px 0px #fff;
}

.whatsapp:hover {
    text-decoration: none;
    color: #111;
}

.whatsapp::after {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background-image: url('../img/whatsapp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -2px;
    top: -2px;
}

#welcome {
    background-color: #111;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
}

#welcome img {
    position: absolute;
    display: block;
    top: calc(50% - 100px);
    right: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    margin: 0 auto;
}

.section:nth-of-type(1) {
    background-color: #111;
}

.section:nth-of-type(2) {
    background-color: mediumpurple;
}

.sidebar {
    position: absolute;
    left: 0;
    background-color: #080808;
    z-index: 10;
    width: 250px;
    padding: 20px;
    height: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar.collapsed {
    width: 80px;
    padding: 15px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar.collapsed a {
    opacity: 0;
    letter-spacing: -6px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    pointer-events: none;
}

.sidebar-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.sidebar-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 10pt;
    line-height: 50px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar-item {
    border-bottom: 1px solid #fff;
}

.sidebar:not(.collapsed) a:hover {
    background-color: #fff;
    color: #000!important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#sidebar_toggler {
    width: 50px;
    float: right;
    height: 50px;
    text-align: center;
    background-image: url('../img/open-menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

#sidebar_toggler span {
    color: #fff;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    font-size: 10pt;
}

#sidebar_toggler.close {
    background-image: url('../img/close.png');
    width: 50px;
    position: relative;
    right: 0;
}

#sidebar_toggler.close span {
    display: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.clearfix {
    clear: both;
}

.logo {
    background-image: url('../img/logo_white.png');
    background-size: 100px 91px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 91px;
    margin: 15px auto;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}
.collapsed .logo {
    width: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.section:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
    content: "";
}

.section-1 {
    background-image: url('../img/section1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-2 {
    background-image: url('../img/section2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.llp-text {
    color: #fff;
    width: 50%;
    font-size: 11pt;
    margin: 20px auto;
}

section .h2, section p {
    color: #fff;
}

section .h2 {
    font-size: 30pt;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section .h2 > span {
    font-weight: bold;
}

.side-logo {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
    font-size: 28pt;
    letter-spacing: 5pt;
    transform: rotateZ(-90deg);
}

.figure {
    margin: 40px auto;
    width: 60%;
    display: block;
}

section {
    color: #fff;
    font-size: 10pt;
}

section ul {
    list-style-type: none;
    padding: 0;
}

.section-4 .figure {
    margin: 40px 0;
}

@media (min-width: 768px) {
    section, .llp-text {
        font-size: 14pt!important;
    }
    .about-text {
        padding-right: 0;
    }
}

.about-text {
    padding-right: 100px;
}
