@font-face {
    font-family: 'TT Chocolates Bold';
    src: url('../fonts/TTCHOCOLATES-BOLD.TTF') format("truetype");
}

@font-face {
    font-family: 'TT Chocolates Light';
    src: url('../fonts/TTCHOCOLATES-LIGHT.TTF') format("truetype");
}

@font-face {
    font-family: 'TT Chocolates Regular';
    src: url('../fonts/TTCHOCOLATES-REGULAR.TTF') format("truetype");
}

body {
    background-color: #000;
    font-family: 'TT Chocolates Regular', 'Roboto', sans-serif;
    /*overflow-y: hidden;*/
}

::-webkit-scrollbar {
    width: 0;
    /*background: transparent; !* make scrollbar transparent *!*/
}

.whatsapp {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #111;
    display: none;
    z-index: 101;
    font-size: 17pt;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    padding-right: 30px;
    text-shadow: 0 1px 3px #fff;
}

.whatsapp:hover {
    text-decoration: none;
    color: #111;
}

.whatsapp::after {
    display: block;
    content: '';
    width: 25px;
    height: 25px;
    background-image: url('../img/whatsapp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -2px;
    top: -2px;
}

#welcome {
    position: absolute;
    background-color: #111;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.section:nth-of-type(1) {
    background-color: #111;
}

.section:nth-of-type(2) {
    background-color: mediumpurple;
}

.sidebar {
    position: fixed;
    left: 0;
    background-color: #080808;
    z-index: 101;
    width: 250px;
    padding: 20px;
    height: 100%;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar.collapsed {
    width: 80px;
    padding: 15px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar.translated {
    transform: translateX(-100px);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar.collapsed a {
    opacity: 0;
    letter-spacing: -6px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    pointer-events: none;
}

.sidebar-list {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.sidebar-item a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    font-size: 10pt;
    line-height: 50px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.sidebar-item {
    border-bottom: 1px solid #fff;
}

.sidebar:not(.collapsed) a:hover {
    background-color: #fff;
    color: #000!important;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#sidebar_toggler, #sidebar_toggler_mobile {
    width: 50px;
    float: right;
    height: 50px;
    text-align: center;
    background-image: url('../img/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
}

#sidebar_toggler span, #sidebar_toggler_mobile span {
    color: #fff;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    font-size: 10pt;
}

#sidebar_toggler.close {
    background-image: url('../img/close.png');
    background-size: 50%;
    width: 50px;
    position: relative;
    right: 0;
}

#sidebar_toggler.close span {
    display: none;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.clearfix {
    clear: both;
}

.logo {
    background-image: url('../img/logo_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 130px;
    margin: 15px auto;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.collapsed .logo {
    width: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.section:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, .3);
    content: "";
}

.section-1 {
    background-image: url('../img/section1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%!important;
}

.section-2 {
    background-image: url('../img/section2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%!important;
}

.llp-text {
    color: #fff;
    width: 50%;
    font-size: 11pt;
    margin: 20px auto;
}

section .h2, section p {
    color: #fff;
}

section .h2 {
    display: inline-block;
    font-size: 30pt;
    text-transform: uppercase;
    color: #fff;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    position: relative;
    margin-bottom: 30px;
}

section .h2 > span {
    font-weight: bold;
}

.figure {
    margin: 40px auto;
    width: 60%;
    display: block;
}

section {
    color: #fff;
    font-size: 10pt;
    height: 100%;
    position: relative;
}

section ul {
    list-style-type: none;
    padding: 0;
}

.section-4 .figure {
    margin: 40px 0;
}

.section-4 .col-md-7 {
    padding-right: 100px;
}

@media (min-width: 768px) {
    section {
        min-height: 80vh;
    }
    section, .llp-text {
        font-size: 14pt!important;
    }
    .about-text {
        padding-right: 0;
    }

    .section-9 .container, .section-10 .container,
    .section-11 .container, .section-12 .container {
        display: flex;
    }

    #certificates {
        margin-top: 100px;
    }
}

.about-text {
    padding-right: 100px;
}

.gallery-item {
    padding: 5px;
    cursor: pointer;
}

.gallery-img {
    height: 150px;
    border: 1px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#certificates .gallery-img {
    background-color: rgba(256, 256, 256, .1);
    background-size: 60%;
}

.section-5 .h2::after {
    border: 2px solid #fff;
    width: 3px;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    right: -20px;
    top: 0;
}

.slick-dots {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.slick-dots li {
    position: relative;
    display: inline-block;
}

.slick-dots li:first-of-type:before, .slick-dots li:last-of-type:after {
    width: 30px;
    border: 1px solid #fff;
    height: 1px;
    display: block;
    content: '';
    position: absolute;
    left: -50px;
    top: 12px;
}

.slick-dots li:last-of-type:after {
    left: initial;
    right: -50px;
}

.slick-dots button {
    background: none;
    color: #fff;
    border: none;
    margin: 0 10px;
    width: 40px;
    padding: 0;
}

@media (max-width: 768px) {
    section:after, section .container-fluid:after, section .container:after {
        display: none!important;
    }

    .whatsapp {
        color: #fff;
        text-shadow: 0 1px 2px #000;
    }

    .sidebar.collapsed {
        width: 0;
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .llp-text {
        width: 100%;
    }

    section .h2 {
        text-align: center;
        font-size: 21pt;
        display: block;
    }

    .about-text {
        padding-right: 0;
        font-size: 12pt;
    }

    section {
        height: initial!important;
    }

    .section-1, .section-2, .section-3 {
        height: 100%;
    }

    .section-5 {
        margin-bottom: 50px;
    }

    .section-production .h1 {
        font-size: 18pt!important;
        text-align: center;
        margin: 20px 0;
    }

    .section-production h5 {
        font-size: 22pt!important;
        text-align: center;
    }

    .col-md-1 {
        display: none;
    }

    .section-4 .figure {
        width: 100%;
    }

    .section-4 {
        font-size: 12pt;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    .gallery-item {
        border: none!important;
        padding: 0!important;
    }

    #sidebar_toggler_mobile {
        display: block;
    }
    .sidebar {
        width: 80%;
        max-width: 300px;
    }

    .section-production, .section-production .container, .section-production .row {
        height: initial;
    }

    .section-14 .container {
        padding-top: 0;
        height: initial;
    }
    body .meet {
        border: 3px solid #fff;
        font-size: 30pt;
        height: initial;
    }
    body .meet span {
        text-align: center;
        position: relative;
        right: auto;
        left: auto;
        display: block;
        line-height: initial;
        margin: 20px 0;
        bottom: auto;
    }
}

#sidebar_toggler_mobile {
    display: block!important;
    z-index: 1;
    background-color: #010101;
    padding: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
}

#sidebar_toggler_mobile.hidden {
    display: none;
}

.section-production img {
    width: 95%;
}

.section-production .h1 {
    font-size: 40pt;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    text-transform: uppercase;
}

.section-production h5 {
    text-transform: uppercase;
    font-size: 12pt;
    margin: 20px 0;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
}

.section-production p {
    font-size: 12pt;
    font-family: 'TT Chocolates Light', 'Roboto', sans-serif;
    margin: 10px 0 30px;
}

.section-production, .section-production .container, .section-production .row {
    height: 100%;
}

@media (max-width: 1170px) {
    section, .llp-text {
        font-size: 11pt!important;
    }
}

.meet {
    border: 6px solid #fff;
    font-size: 35pt;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    text-transform: uppercase;
    height: 180px;
    position: relative;
}

.meet span {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 30pt;
}

.contacts {
    font-size: 15pt;
}

#contacts {
    min-height: 100vh;
}

.contacts-action {
    font-size: 18pt;
    text-transform: uppercase;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    text-align: right;
}

.contacts-action span {
    display: block;
    position: relative;
}

.contacts-action span:before {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    display: block;
    width: 30%;
    border: 1px solid #ccc;
    height: 1px;
}

.contacts a, .contacts a:hover, .contacts a:active {
    color: #fff;
    text-decoration: none;
}

section:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    width: 1px;
    background-color: #fff;
}

.section-1:after, .section-2:after {
    content: none;
}

section .container-fluid:after, section .container:after {
    content: 'АДСК';
    display: block;
    position: absolute;
    bottom: 70px;
    right: -30px;
    margin: 0 auto;
    color: #fff;
    font-size: 25pt;
    letter-spacing: 5pt;
    transform: rotateZ(-90deg);
}

#viewer {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    width: 80%;
    height: 80%;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    z-index: 100;
}

#dark_bg {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 99;
}

.lightbox {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.lightbox:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .2);
    background-image: url('../img/logo_white.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150px;
    content: "";
    z-index: 100;
}

.lightbox.with-big-logo:after {
    transform: scale(1.5);
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    transition: all 2s linear;
}

footer {
    font-size: 14pt;
    color: #fff;
}

.certificate-title {
    text-align: center;
    margin: 15px 0;
    font-size: 16pt!important;
}

.slick-arrow {
    position: absolute;
    bottom: -50px;
    background-color: transparent;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
}

.slick-prev {
    left: -50px;
    top: 40%;
    bottom: initial;
}

.slick-next {
    right: -50px;
    top: 40%;
    bottom: initial;
}

#close_viewer {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 30pt;
    line-height: 20pt;
    padding: 5px 12px 10px 12px;
    color: #fff;
    background-color: #111;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.pdf-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none!important;
}

.pdf-button:hover {
    background-color: #fff;
    color: #111;
}

#formModalBtn {
    position: fixed;
    bottom: 1px;
    font-family: 'TT Chocolates Bold', 'Roboto', sans-serif;
    font-size: 14pt;
    right: 50px;
    color: #fff;
    padding: 10px 25px;
    cursor: pointer;
    text-align: center;
    background-color: #111;
    border: 2px solid #fff;
    border-bottom: none;
    z-index: 1;
}

@media (max-width: 768px) {
    #formModalBtn {
        right: 0;
        border-right: none;
    }

    .footer-container {
        padding-bottom: 100px!important;
    }

    .lightbox {
        height: auto;
    }

    .lightbox.with-big-logo:after {
        transform: none;
    }

    #sidebar_toggler_mobile {
        z-index: 102;
    }

    .sidebar {
        z-index: 103;
    }
}
